/* +++++++++++++++ */
/* General Styling */
/* +++++++++++++++ */

html {
    height: 100%;
    box-sizing: border-box;
    font-family: Poppins;
    color:hsl(210, 46%, 95%);
}
*, *:before, *:after { 
    box-sizing: inherit;
    margin: 0; 
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    min-height: 100%;
    display: flex;
    justify-content: center;
    background-color: hsl(210, 46%, 95%);
}
section{
    max-width: 85%;
    margin: 0;
}
/* ++++++++++++++++++++++ */
/*  Review Grid Styling   */
/* ++++++++++++++++++++++ */
#grid-container{
    display: grid;
    gap:3rem;

    grid-template-rows: repeat(2,1fr);
    grid-template-columns:  repeat(4,minmax(auto,1fr));
}
#grid-container div{
    border-radius: 15px;
    padding:3rem;
    box-shadow: 6px 6px 5px 4px rgba(0,0,0,0.14);
}
#picture{
    border-radius: 50px;
    position: absolute;
}
#one{
    background-color: hsl(263, 55%, 52%);
    grid-column: span 2;
}
#two{
    background-color: hsl(217, 19%, 35%);
}
#three{
    background-color: hsl(0, 0%, 100%);
    grid-row: span 2;
    color: hsl(217, 19%, 35%);
}
#four{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}
#five{
   background-color: hsl(219, 29%, 14%);
   grid-column: span 2;
   
}
.gradname{
    padding-left: 5rem;
}
#grid-container div h2{
    padding-top: 2rem;
}
.review{
    padding-top: 1.5rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: black; 
    margin: 0;
}
.attribution a { 
    color:
    hsl(228, 45%, 44%); 
}



/* Mobile layout design */
@media(max-width:1133px){
.parent{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
#grid-container{
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
}
#one{
    background-color: hsl(263, 55%, 52%);
    grid-column: span 2;
    position: relative;
}
#two{
    background-color: hsl(217, 19%, 35%);
    grid-column: span 2;
    position: relative;
}
#three{
    background-color: hsl(0, 0%, 100%);
    grid-column: span 2;
    grid-row-start: 5;
    position: relative;
}
#four{
    background-color: hsl(0, 0%, 100%);
    grid-column: span 2;
    position: relative;
}
#five{
   background-color: hsl(219, 29%, 14%);
   grid-column: span 2;
   position: relative;
}
}
